extends layout2

block content

        nav.navbar.navbar-inverse
            .container-fluid
                .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
                    ul.nav.navbar-nav.col-md-12
                        li(class="col-md-1")
                            a(href="#")
                                span(class="glyphicon glyphicon-home", aria-hidden="true")
        table.table.table-bordered.table-hover
            thead
                .form-group
                    h3 CONSUMO ACEITES Y LUBRICANTES
                .col-sm-2.col-sm-offset-3
                    .form-group
                        input.form-control(type='text', id='', placeholder='VEHICULO')
                .col-sm-2.col-sm-offset-0   
                    .form-group   
                        input.form-control(type='text', id='', placeholder='N° INTERNO')
                .col-sm-2.col-sm-offset-0   
                    .form-group 
                        input.form-control(type='text', id='', placeholder='MES')
                tr
                    .col-md-12
                    th.col-md-1 FECHA
                    th.col-md-3 NOMBRES Y APELLIDOS
                    th.col-md-2 CARGO
                    th.col-md-1 LUGAR DE CAMBIO
                    th.col-md-2 TIPO LUBRICANTE O ACEITE
                    th.col-md-1 CANTIDAD
                    th.col-md-1 N° VALE
                    th.col-md-1 COSTO LUBRICANTE
                    th.col-md-1 TOTAL COSTO
            tbody
                tr(align="center") 
                    td 1/02/3016
                    td juan perez
                    td chofer
                    td ACASIO
                    td grasa chasis
                    td 1
                    td 23
                    td 15bs
                    td 15bs
                tr(align="center") 
                    td 1/02/3016
                    td juan perez
                    td chofer
                    td ACASIO
                    td grasa chasis
                    td 1
                    td 23
                    td 15bs
                    td 15bs
                tr(align="center") 
                    td 1/02/3016
                    td juan perez
                    td chofer
                    td ACASIO
                    td grasa chasis
                    td 1
                    td 23
                    td 15bs
                    td 15bs
