extends layout2
block content
    .row
        nav.navbar.navbar-inverse
            .container-fluid
                .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
                    ul.nav.navbar-nav.col-md-12
                        li(class="col-md-1")
                            a(href="Trabajador")
                                span(class="glyphicon glyphicon-home", aria-hidden="true")
                        li(class="col-md-2")
                            a(href='VolumenesTrabajo',id='btnNParteD') VER VOLUMENES TRABAJO
                        li(class="dropdown col-md-2")
                            a(href="#") SALIR
                        li(class="dropdown col-md-2 col-md-offset-3 avatarrr")
    
    form(action="/" enctype="multipart/form-data" method="post")
        .container
            .form-group
                h3 ENVIAR REPORTES
            .col-sm-8.col-sm-offset-2
                .input-group.col-md-12
                    .form-group.col-md-2
                        label CATEGORIA
                    .form-group.col-md-10
                        select#input.form-control(name='')
                            option(value='') planilla de avance
                            option(value='') informe semanal
                .input-group.col-md-12
                    .form-group.col-md-2
                        label REPORTE
                    .form-group.col-md-10
                        input(type="file" name="upload" multiple)

                .form-group
                    button.btn.btn-success.dropdown-toggle(type="submit" value="guardar") enviar



    .container
      button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#myModal') Open Modal
      
      #myModal.modal.fade(role='dialog')
        .modal-dialog
          
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') &times;
              |           
              h4.modal-title ENVIAR REPORTES
            |         
            .modal-body
              form(action="/" enctype="multipart/form-data" method="post")
                .container
                    .col-sm-4
                        .input-group.col-md-12
                            .form-group.col-md-2
                                label CATEGORIA
                            .form-group.col-md-10.col-sm-offset-2
                                select#input.form-control(name='')
                                    option(value='') planilla de avance
                                    option(value='') informe semanal
                        .input-group.col-md-12
                            .form-group.col-md-2   
                                label REPORTE
                            .form-group.col-md-10.col-sm-offset-2
                                input(type="file" name="upload" multiple)
            |         
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='submit' value="guardar") guardar