extends layoutInfoSemanal

block content
    h2 INFORME SEMANAL DE ACTIVIDADES - COMPUTOS METRICOS
    table.table.table-bordered(style="width:95%;margin:0 auto;")
        thead
            tr.head1
                th(rowspan="2",style="width:20px;")
                    div
                        span DIA
                th(class="rotat",rowspan="2")
                    div
                        span K.INICIAL
                th(class="rotat",rowspan="2")
                    div
                        span K.FINAL
                th(class="rotat",rowspan="2")
                    div
                        span ACTIVIDAD
                th(class="rotat",rowspan="2")
                    div
                        span T.EJECUTADO
                th(colspan="4",style="text-align:center;")
                    div
                        span PERSONAL
                th(colspan="4",style="text-align:center;")
                    div
                        span MATERIALES
                th(colspan="6",style="text-align:center;")
                    div
                        span EQUIPOS
                th(rowspan="2",style="text-align:center")
                    div
                        span OBSERVACIONES
            tr.head2
                th(class="rotat")
                    div
                        span CLASE
                th(class="rotat")
                    div
                        span H.REGULARES
                th(class="rotat")
                    div
                        span CLASE
                th(class="rotat")
                    div
                        span H.REGULARES
                th(class="rotat")
                    div
                        span CLASE
                th(style="width:20px;")
                    div
                        span CANTIDAD
                th(class="rotat")
                    div
                        span CLASE
                th(style="width:20px;")
                    div
                        span CANTIDAD
                th(class="rotat")
                    div
                        span CLASE
                th(class="rotat")
                    div
                        span N.INTERNO
                th(class="rotat")
                    div
                        span H.UTILIZADAS
                th(class="rotat")
                    div
                        span CLASE
                th(class="rotat")
                    div
                        span N.INTERNO
                th(class="rotat")
                    div
                        span H.UTILIZADAS
        tboby
            tr
                td(rowspan='3',style="vertical-align:middle;") 1
                td(rowspan='3',style="padding:0; vertical-align:middle;")
                    input(type='text',style='width:100%;')
                td(rowspan='3',style="padding:0;vertical-align:middle;")
                    input(type='text',style='width:100%;')
                td(style="padding-top:0;padding-bottom:0;vertical-align:middle;") 2103
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(rowspan='3',style="padding:0;vertical-align:middle;")
                    input(type='text',style='width:100%')
            tr
                td(style="padding-top:0;padding-bottom:0;vertical-align:middle;") 3001
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
            tr
                td(style="padding-top:0;padding-bottom:0;vertical-align:middle;") 7021
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
                td(style="padding:0")
                    input(type='text',style='width:100%;')
    button.btn.btn-primary.btnguardarsemanal(type='button',style='margin:0 auto;display:block;') GUARDAR INFORME SEMANAL