doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style2.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/sweetalert.css')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/v/dt/pdfmake-0.1.18/dt-1.10.13/b-1.2.3/b-html5-1.2.3/datatables.min.css')

    script(src="/javascripts/jquery.js")
    script(src="/javascripts/leaflet.js")
    script(src="/javascripts/main.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/principal.js")
    script(src="/javascripts/Mensajes.js")
    script(src="/javascripts/chart.js")
    script(src="/javascripts/principalplanilla.js")
    script(src="/javascripts/sweetalert.min.js")
    script(src="/javascripts/principalSAE.js")
    script(type='text/javascript', src='https://cdn.datatables.net/v/dt/pdfmake-0.1.18/dt-1.10.13/b-1.2.3/b-html5-1.2.3/datatables.min.js')
    script(src="/javascripts/jspdf.min.js")

    script(src="/javascripts/jquery.dataTables.min.js")
    script(src="/javascripts/dataTables.buttons.min.js")
    script(src="/javascripts/buttons.print.min.js")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js")
    script(src="https://rawgit.com/someatoms/jsPDF-AutoTable/master/dist/jspdf.plugin.autotable.js")
    

  body
    a.avatarNombre
    nav(class="navbar navbar-inverse").navbar-fixed-top
        .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a(href="MenuPrincipal",style='padding:0')
                img(src="/images/logoSEDECA.png",class="logoSEDECA")
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='asignacionactividades') asignar actividades
                    li
                        a(href='listaprogramacionquincenal?mes=septiembre') MENSAJES
                    li
                        a(href="#", style="margin-top:0px;" class="dropdown-toggle avatarNombre", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") NameUser
                            span(class="glyphicon glyphicon-user")
                                ul(class="dropdown-menu")
                                    li
                                        a(data-toggle="modal", class="info", data-target="#modalUser",style='cursor:pointer',id='miperfil') Mi Perfil
                                    li
                                        a(style='cursor:pointer',id='salirsistema') Salir

    script(src="/javascripts/bootstrap.min.js")
    block content