doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/stylelim.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/sweetalert.css')
    script(src="/javascripts/jquery.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/leaflet.js")
    script(src="/javascripts/menuprincipal.js")
    script(src="/javascripts/sweetalert.min.js")
    script(src="/javascripts/Mensajes.js")
    script(type="text/javascript").
      var info=JSON.parse(localStorage.getItem('userinfo'));
      if(info==null){
        location.href="/";
      }
      
  body
    .row
        nav#mainNav.navbar.navbar-inverse.navbar-fixed-top
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a(href="MenuPrincipal",style='padding:0')
                img(src="/images/logoSEDECA.png",class="logoSEDECA")
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='Residencias') Residencias
                li
                  a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="false", aria-expanded="true") Usuarios
                            ul(class="dropdown-menu")
                                li
                                    a(href="Usuarios") Listar Usuarios
                                li
                                    a(href="RegistrarUsuario") Nuevo Usuario
                li
                  a(href='equipos') Vehiculos
                li
                  a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Ubicacion
                                  ul(class="dropdown-menu")
                                    li
                                      a(href="Principal_TiempoReal") Localización Usuarios
                                    li
                                      a(href="#") Localizacion Vehiculos
                li
                  a(href='sam') SAM
                li
                  a(href='#',id='btnMensajes', data-toggle="modal" data-target="#myModal") Mensajes
                li
                  a(href="#", class="dropdown-toggle" id="avatarNombre", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") NameUser
                    span(class="glyphicon glyphicon-user")
                      ul(class="dropdown-menu")
                        li
                          a(data-toggle="modal", class="info", data-target="#modalUser",style='cursor:pointer',id='miperfil') Mi Perfil
                        li
                          a(style='cursor:pointer',id='logout') Salir
    block content