doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styleQuincenal.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/sweetalert.css')
    script(src="/javascripts/jquery.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery.mousewheel.min.js")
    script(src="/javascripts/scroll.js")
    script(src="/javascripts/principalasignacionchoferavehiculo.js")
    script(src="/javascripts/sweetalert.min.js")
    script(src="/javascripts/Mensajes.js")
  body
    block content