doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style3.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    
    
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/leaflet.js")
    script(src="/javascripts/main.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/principal.js")
    
  body
    a.avatarNombre
    script(src="/javascripts/bootstrap.min.js")


    block content