extends layout2

block content
  nav(class="navbar navbar-inverse")
    .container-fluid
      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        ul.nav.navbar-nav.col-md-12.menuNav
          li(class="col-md-1")
            a(href="EncargadoResidencia")
              span(class="glyphicon glyphicon-home", aria-hidden="true")
          li.col-md-2
            a(href='EQUIPOS') EQUIPOS
          li.col-md-2
            a(href='SAM') SAM
          li(class="dropdown col-md-2")
              a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") RESIDENCIAS
                span(class="caret")
                  ul(class="dropdown-menu")
                    li
                      a(href="ResAcasio") ACASIO
                    li
                      a(href="#") RETIRO
                    li
                      a(href="#") TUPIZA
                    li
                      a(href="#") UNCIA
                    li
                      a(href="#") UYUNI
                    li
                      a(href="#") VILLA MAR
          li(class="col-md-1 col-sm-2",style="padding-left:0;padding-right:0;")
              a(href='#',id='btnMensajes', data-toggle="modal" data-target="#myModal",style="padding-left:0;padding-right:0;") MENSAJES
  h1 RESIDENCIAS
  .container(style="display: flex; justify-content: center; margin-top:100px")
    ul(class="nav nav-stacked nav-pills" style="width:300px;")
      - for (var x=0;x<nombreresidencia.length;x++)
        li
          a(id="listaresidencias"+x+"" value="#{idresidencia[x]}" href='#residencias'+x+'', data-toggle='tab') #{nombreresidencia[x]}
        
