extends layout3

block content
	nav.navbar.navbar-inverse
			.container-fluid
				.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
					ul.nav.navbar-nav.col-md-12
						li(class="col-md-1")
							a(href="#")
								span(class="glyphicon glyphicon-home", aria-hidden="true")
	
	div.panel
		div.panel-heading
			
		div.panel-body
			h3 PROGRAMACION DE TRABAJO
			table.table.table-bordered.table-hover
				thead
					tr
						th(rowspan="3").col-md-1 COD ACTIVIDAD
						th(rowspan="3").col-md-1 UNIDAD
						th(rowspan="3").col-md-1 RUTA
						th(rowspan="3").col-md-1 SECCION
						th(colspan="2").col-md-1 PROGRESIVA
						th(rowspan="3").col-md-1 EQUIPO
						th(colspan="14" id="mes").col-md-1 CALENDARIO DE TRABAJO
						th(rowspan="3").col-md-1 CANT DE TRABAJO PROGRAMADO
						th(rowspan="3").col-md-1 PRECIO UNITARIO
						th(rowspan="3").col-md-1 MONTO PRESUPUESTO PROGRAMADO
					tr
						th.col-md-1(rowspan="3") DE
						th.col-md-1(rowspan="3") HASTA
						th.col-md-1(id="calendarioD")
						th.col-md-1(id="calendarioL")
						th.col-md-1(id="calendarioM")
						th.col-md-1(id="calendarioMi")
						th.col-md-1(id="calendarioJ")
						th.col-md-1(id="calendarioV")
						th.col-md-1(id="calendarioS")
						th.col-md-1(id="calendarioDom")
						th.col-md-1(id="calendarioLun")
						th.col-md-1(id="calendarioMar")
						th.col-md-1(id="calendarioMier")
						th.col-md-1(id="calendarioJue")
						th.col-md-1(id="calendarioVie")
						th.col-md-1(id="calendarioSab")
					tr
						th.col-md-1(id="calendarioFeD")
						th.col-md-1(id="calendarioFeL")
						th.col-md-1(id="calendarioFeM")
						th.col-md-1(id="calendarioFeMi")
						th.col-md-1(id="calendarioFeJ")
						th.col-md-1(id="calendarioFeV")
						th.col-md-1(id="calendarioFeS")

						th.col-md-1(id="calendarioFeDom")
						th.col-md-1(id="calendarioFeLun")
						th.col-md-1(id="calendarioFeMar")
						th.col-md-1(id="calendarioFeMier")
						th.col-md-1(id="calendarioFeJue")
						th.col-md-1(id="calendarioFeVier")
						th.col-md-1(id="calendarioFeSab")
				tbody
					tr
						td 3302
						td M3
						td
						td
						td
						td
						td
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
							input(type="checkbox" name="" id="input" class="checkbox" value="" required="required" pattern="" title="")
						td
						td 83,50
						td 0,00