extends layout2

block content
    nav(class="navbar navbar-inverse")
        .container-fluid
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul.nav.navbar-nav.col-md-12.menuNav
                    li(class="col-md-1")
                        a(href="EncargadoSAE")
                            span(class="glyphicon glyphicon-home", aria-hidden="true")
                    li.col-md-2
                        a(href='SAM') SAM

    form(class="form-horizontal", role="form")
        .container
            .form-group
                h3 REGISTRAR ACTIVIDADES SAM
            .col-sm-8.col-sm-offset-2
                .form-group
                    label(for='') codigoSam
                    input.form-control(type='text', id='codS', placeholder='codigoSam')
                    .errores(id='mensaje1') Campo Requerido!
                .form-group
                    label(for='') actividad
                    input.form-control(type='text', id='actividadS', placeholder='actividad')
                    .errores(id='mensaje1') Campo Requerido!
                .form-group
                    label(for='') unidad
                    input.form-control(type='text', id='unidadS', placeholder='unidad')
                    .errores(id='mensaje1') Campo Requerido!
                .form-group
                    label(for='') Precio unitario
                    input.form-control(type='text', id='preciounitarioS', placeholder='Precio unitario')
                    .errores(id='mensaje1') Campo Requerido!
                .form-group
                    button.btn.btn-primary.btnRegistroSam(type='button',data-toggle='modal', data-target='#myModal') Enviar