extends layout2

block content
    nav(class="navbar navbar-inverse")
        .container-fluid
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul.nav.navbar-nav.col-md-12.menuNav
                    li.col-md-3
                        a(href='MaterialesSuministros') MATERIALES Y SUMINISTROS

    
    form(class="form-horizontal", role="form")
        .container
            .form-group
                h3 REGISTRAR MATERIALES Y SUMINISTROS
            .col-sm-8.col-sm-offset-2
                .form-group
                    label(for='') Descripcion de activos
                    input.form-control(type='text', id='descripcion', placeholder='alimentos para personas')
                    .errores(id='mensaje1') Campo Requerido!
                .form-group
                    label(for='') Unidad de medida
                    input.form-control(type='text', id='unidad', placeholder='raciones')
                    .errores(id='mensaje2') Campo Requerido!
                .form-group
                    label(for='') Cantidad Requerida
                    input.form-control(type='text', id='cantReq', placeholder='13')
                    .errores(id='mensaje3') Campo Requerido!

                .form-group
                    label(for='') Cantidad existente
                    input.form-control(type='text', id='cantExi', placeholder='0')
                    .errores(id='mensaje4') Campo Requerido!
                .form-group
                    label(for='') Cantidad Solicitada
                    input.form-control(type='text', id='cantSoli', placeholder='13')
                    .errores(id='mensaje4') Campo Requerido!
                .form-group
                    label(for='') Precio Unitario
                    input.form-control(type='text', id='precioUni', placeholder='14300bs')
                    .errores(id='mensaje4') Campo Requerido!
                .form-group
                    label(for='') Monto
                    input.form-control(type='text', id='monto', placeholder='171600bs')
                    .errores(id='mensaje4') Campo Requerido!
                .form-group
                    label(for='') Partida Presupuesto
                    input.form-control(type='text', id='partidaPresu', placeholder='31110bs')
                    .errores(id='mensaje4') Campo Requerido!
                .form-group
                    button.btn.btn-primary.btnRegistroMateriales(type='button', data-toggle='modal', data-target='#myModal') Enviar