extends layout2

block content
    nav(class="navbar navbar-inverse")
        .container-fluid
            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul.nav.navbar-nav.col-md-12.menuNav
                    li.col-md-3
                        a(href='ServiciosNoBasicos') SERVICIOS NO BASICOS

    
    form(class="form-horizontal", role="form")
        .container
            .form-group
                h3 REGISTRAR SERVICIOS NO BASICOS
            .col-sm-8.col-sm-offset-2
                .form-group
                    label(for='') Servicios
                    input.form-control(type='text', id='servicio', placeholder='Comunicaciones')
                    .errores(id='mensaje1') Campo Requerido!
                .form-group
                    label(for='') Cantidad
                    input.form-control(type='text', id='cantidad', placeholder='12 meses')
                    .errores(id='mensaje2') Campo Requerido!
                .form-group
                    label(for='') Fecha Inicio
                    input.form-control(type='date', id='fechaInicio', placeholder='01/01/2016')
                    .errores(id='mensaje3') Campo Requerido!

                .form-group
                    label(for='') Fecha Fin
                    input.form-control(type='date', id='fechaFin', placeholder='31/12/2016')
                    .errores(id='mensaje4') Campo Requerido!
                .form-group
                    label(for='') Precio Unitario
                    input.form-control(type='text', id='precioUnitario', placeholder='50bs')
                    .errores(id='mensaje4') Campo Requerido!
                .form-group
                    label(for='') Monto
                    input.form-control(type='text', id='monto', placeholder='600bs')
                    .errores(id='mensaje4') Campo Requerido!
                .form-group
                    label(for='') Partida Presupuesto
                    input.form-control(type='text', id='partidaPresupuesto', placeholder='21100bs')
                    .errores(id='mensaje4') Campo Requerido!
                .form-group
                    button.btn.btn-primary.btnRegistroServicios(type='button', data-toggle='modal', data-target='#myModal') Enviar

