extends layout2

block content
              
        nav.navbar.navbar-inverse
            .container-fluid
                .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
                    ul.nav.navbar-nav.col-md-12
                        li(class="col-md-1")
                            a(href="EncargadoSAE")
                                span(class="glyphicon glyphicon-home", aria-hidden="true")
                        li.col-md-2
                            a(href='EQUIPOS') EQUIPOS
                        li.col-md-2
                            a(href='SAM') SAM
                        li(class="dropdown col-md-2")
                                a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") RESIDENCIAS
                                    span(class="caret")
                                        ul(class="dropdown-menu")
                                            li
                                                a(href="ResAcasio") ACASIO
                                            li
                                                a(href="#") RETIRO
                                            li
                                                a(href="#") TUPIZA
                                            li
                                                a(href="#") UNCIA
                                            li
                                                a(href="#") UYUNI
                                            li
                                                a(href="#") VILLA MAR

        
        div(class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="columnaVehi" class="dropdown")
            
            h3 VEHICULOS
            
            div(class="list-group" id="vehi")
            
               
        div(class="col-xs-10 col-sm-10 col-md-10 col-lg-10" id="descripcion")
                  
                div(class="panel-heading")
                    h3(class="panel-title") ACASIO
                    div(role="tabpanel")
                        <!-- Nav tabs -->
                        ul(class="nav nav-tabs" role="tablist")
                            li(role="presentation" class="active")
                                a(href="#home" aria-controls="home" role="tab" data-toggle="tab") VEHICULOS
                            li(role="presentation")
                                a(href="#partesDiarios" aria-controls="partesDiarios" role="tab" data-toggle="tab") PARTES DIARIOS
                            li(role="presentation")
                                a(href="#diesel" aria-controls="diesel" role="tab" data-toggle="tab") DIESEL
                            li(role="presentation")
                                a(href="#gasolina" aria-controls="gasolina" role="tab" data-toggle="tab") GASOLINA
                            li(role="presentation")
                                a(href="#aceitesLubricantes" aria-controls="aceitesLubricantes" role="tab" data-toggle="tab") ACEITES Y LUBRICANTES
                            
                        <!-- Tab panes -->
                        div(class="tab-content")
                            div(role="tabpanel" class="tab-pane active" id="home")
                                div(id="esto" class="panel panel-info")
                                    
                                            
                            div(role="tabpanel" class="tab-pane" id="partesDiarios")
                                div(class="container-fluid")
                                    table.table.table-bordered.table-hover
                                        thead
                                            .form-group
                                                h3 MOTONIVELADORA
                                                
                                            .col-sm-2.col-sm-offset-3
                                                .form-group
                                                    input.form-control(type='text', placeholder='VEHICULO')
                                            .col-sm-2.col-sm-offset-0   
                                                .form-group   
                                                    input.form-control(type='text', id='', placeholder='N° INTERNO')
                                            .col-sm-2.col-sm-offset-0   
                                                .form-group 
                                                    input.form-control(type='month', id='', placeholder='MES')

                                div(class="table-responsive")
                                    table(class="table table-hover")
                                        thead
                                            tr
                                                th FECHA
                                                th NOMBRE
                                                th N° PARTE DIARIO
                                        tbody.bod(align="center" valign="middle")
                                            
                            div(role="tabpanel" class="tab-pane" id="diesel")
                                div(class="panel panel-default")
                                    div(class="panel-body")
                                        div(class="container-fluid")
                                            table.table.table-bordered.table-hover
                                                thead
                                                    .form-group
                                                        h3 CONSUMO DIESEL
                                                    .col-sm-2.col-sm-offset-3
                                                        .form-group
                                                            input.form-control(type='text', placeholder='VEHICULO')
                                                    .col-sm-2.col-sm-offset-0   
                                                        .form-group   
                                                            input.form-control(type='text', id='', placeholder='N° INTERNO')
                                                    .col-sm-2.col-sm-offset-0   
                                                        .form-group 
                                                            input.form-control(type='month', id='', placeholder='MES')
                                                    tr
                                                        th(rowspan="2") FECHA
                                                        th(rowspan="2") NOMBRES Y APELLIDOS
                                                        th(rowspan="2") N° PARTE DIARIO
                                                        th(colspan="2") KILOMETROS
                                                        th(rowspan="2") HORAS OPERADAS
                                                        th(rowspan="2") TRAMO
                                                        th(rowspan="2") N° VALE
                                                        th(rowspan="2") LITROS
                                                        th(rowspan="2") PRECIO
                                                        th(rowspan="2") TOTAL COSTO
                                                        
                                                    tr
                                                        th INICIO
                                                        th FIN
                                                tbody
                                                    tr(align="center") 
                                                        td 1/02/2016
                                                        td juan perez
                                                        td 1
                                                        td 1250
                                                        td 1255
                                                        td 
                                                        td ñequeta-acasio
                                                        td 1
                                                        td 20lts.
                                                        td 10bs
                                                        td 200bs.
                                                    tr(align="center") 
                                                        td 1/02/2016
                                                        td juan perez
                                                        td 2
                                                        td 1250
                                                        td 1255
                                                        td 
                                                        td potosi-acasio
                                                        td 2
                                                        td 20lts.
                                                        td 10bs
                                                        td 200bs.
                                                    tr(align="center") 
                                                        td 1/02/2016
                                                        td juan perez
                                                        td 3
                                                        td 1250
                                                        td 1255
                                                        td 
                                                        td ñequeta-acasio
                                                        td 3
                                                        td 20lts.
                                                        td 10bs
                                                        td 200bs.
                                                    tr(align="center") 
                                                        td 1/02/2016
                                                        td juan perez
                                                        td 4
                                                        td 1250
                                                        td 1255
                                                        td 
                                                        td ñequeta-acasio
                                                        td 4
                                                        td 20lts.
                                                        td 10bs
                                                        td 200bs.
                            div(role="tabpanel" class="tab-pane" id="gasolina") 
                                table.table.table-bordered.table-hover
                                    thead
                                        .form-group
                                            h3 CONSUMO GASOLINA
                                        .col-sm-2.col-sm-offset-3
                                            .form-group
                                                input.form-control(type='text', id='', placeholder='VEHICULO')
                                        .col-sm-2.col-sm-offset-0   
                                            .form-group   
                                                input.form-control(type='text', id='', placeholder='N° INTERNO')
                                        .col-sm-2.col-sm-offset-0   
                                            .form-group 
                                                input.form-control(type='month', id='', placeholder='MES')
                                        tr
                                            th(rowspan="2") FECHA
                                            th(rowspan="2") NOMBRES Y APELLIDOS
                                            th(rowspan="2") N° PARTE DIARIO
                                            th(colspan="2") KILOMETROS
                                            th(rowspan="2") HORAS OPERADAS
                                            th(rowspan="2") TRAMO
                                            th(rowspan="2") N° VALE
                                            th(rowspan="2") LITROS
                                            th(rowspan="2") PRECIO
                                            th(rowspan="2") TOTAL COSTO
                                            
                                        tr
                                            th INICIO
                                            th FIN
                                    tbody
                                        tr(align="center") 
                                            td 1/02/2016
                                            td juan perez
                                            td 1
                                            td 1250
                                            td 1255
                                            td 
                                            td ñequeta-acasio
                                            td 1
                                            td 20lts.
                                            td 10bs
                                            td 200bs.
                                        tr(align="center") 
                                            td 1/02/2016
                                            td juan perez
                                            td 2
                                            td 1250
                                            td 1255
                                            td 
                                            td potosi-acasio
                                            td 2
                                            td 20lts.
                                            td 10bs
                                            td 200bs.
                                        tr(align="center") 
                                            td 1/02/2016
                                            td juan perez
                                            td 3
                                            td 1250
                                            td 1255
                                            td 
                                            td ñequeta-acasio
                                            td 3
                                            td 20lts.
                                            td 10bs
                                            td 200bs.
                                        tr(align="center") 
                                            td 1/02/2016
                                            td juan perez
                                            td 4
                                            td 1250
                                            td 1255
                                            td 
                                            td ñequeta-acasio
                                            td 4
                                            td 20lts.
                                            td 10bs
                                            td 200bs.
                            div(role="tabpanel" class="tab-pane" id="aceitesLubricantes")
                                table.table.table-bordered.table-hover
                                    thead
                                        .form-group
                                            h3 CONSUMO ACEITES Y LUBRICANTES
                                        .col-sm-2.col-sm-offset-3
                                            .form-group
                                                input.form-control(type='text', id='', placeholder='VEHICULO')
                                        .col-sm-2.col-sm-offset-0   
                                            .form-group   
                                                input.form-control(type='text', id='', placeholder='N° INTERNO')
                                        .col-sm-2.col-sm-offset-0   
                                            .form-group 
                                                input.form-control(type='text', id='', placeholder='MES')
                                        tr
                                            .col-md-12
                                            th.col-md-1 FECHA
                                            th.col-md-3 NOMBRES Y APELLIDOS
                                            th.col-md-2 CARGO
                                            th.col-md-1 LUGAR DE CAMBIO
                                            th.col-md-2 TIPO LUBRICANTE O ACEITE
                                            th.col-md-1 CANTIDAD
                                            th.col-md-1 N° VALE
                                            th.col-md-1 COSTO LUBRICANTE
                                            th.col-md-1 TOTAL COSTO
                                    tbody
                                        tr(align="center") 
                                            td 1/02/3016
                                            td juan perez
                                            td chofer
                                            td ACASIO
                                            td grasa chasis
                                            td 1
                                            td 23
                                            td 15bs
                                            td 15bs
                                        tr(align="center") 
                                            td 1/02/3016
                                            td juan perez
                                            td chofer
                                            td ACASIO
                                            td grasa chasis
                                            td 1
                                            td 23
                                            td 15bs
                                            td 15bs
                                        tr(align="center") 
                                            td 1/02/3016
                                            td juan perez
                                            td chofer
                                            td ACASIO
                                            td grasa chasis
                                            td 1
                                            td 23
                                            td 15bs
                                            td 15bs              