* {
	box-sizing: border-box;
}
body {
	position: relative;
  	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  	background: url(../images/banner.jpg);
  	min-height: 100vh;
  	width: 100%;
  	font-family: sans-serif;
  	margin: 0;
}	
nav{
	width: 100%;
	margin: 0;
}
nav ul{
	background:  #000;
	box-shadow: 0 3px rgba(0,0,0,.5);
	height: 5rem;
	list-style: none;
	margin: 0;
	padding: 0;
}
nav li{
	float: left;
}
nav li a{
	
	color: white;
	display: block;
	font-family: verdana;
	font-size: .8rem;
	line-height: 5rem;
	padding: 0 3rem;
	text-decoration: none;
}
nav li a:hover{
	background: rgba(83,83,83, .7);
}
section{
	padding: 0;
	margin: 0;
	float: left;
	width: 50%;	
}
.style {
    margin-bottom: 0px;
}
h1{
	color: rgba(255,255,255, .7);
	text-align: center;
	font-size: 9.5rem;
	font-family: Mabella;
	text-shadow:10px 10px 6px black;
	margin: 0;
	margin-left: .68em;
	padding-top: 7rem;
}
p{
	text-align: center;
	text-shadow:0px 0px 9px black;
	color: white;
	font-size: 2.5rem;
	margin-left: 2.5em;
	
}
.pb{
	font-size: 1.5rem;
	margin-left: 4.5em;
	color: yellow
}
.login-form {
	width: 70%;
	background: rgba(0,0,0,.6);
	padding: 1.4em 1em;
	margin: 0 auto;
	margin-top: 7rem;
}
.Entradas {
	display:block;
	width: 100%;
	margin-bottom: 2em;
	border: none;
	line-height: 3;
	padding: 0 1em;
}
.btnEnviar{
	display: block;
	width: 100%;
	background: #49BBA6;
	color:#fff;
	border:none;
	line-height: 2;
	text-transform: uppercase;
	font-size: 1.1em;
	cursor:pointer;
}
.btnEnviar:hover{
	background: #72D981;
}
#Accede{
	margin-top: 0px;
	text-align: center;
	color: #fff;
	font-family: Yu Mincho Light;
}
.cajaError{
	float: left;
	width: 100%;
	height: 60px;
}
.error{
	display: block;
	text-align: center;
	width: 70%;
	line-height: 60px;
	color: #F01E17;
	font-size: 1.5rem;
}
.errorLogo{
	position:absolute;
	width: 5%;
	right: 10%;
	margin-top: -65px;
	display: none;
}

.forgot{
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	margin-top: 5%;
}
#mimapa {
	position: absolute;
	height: 100%;
	top: 0;
	width: 100%;
}

.Item{
	position: absolute;
	width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.button{
    position: absolute;
    width: 60%;
    left: 90px;
    top: 30%;
    color: #000;
    font-size: 1.7em;
}
.letra{
	color: #FDFDFD;
    display: inline-table;
    margin-top: 1em;
    padding: 0 1em;
    font-size: .8em;
    line-height: 2.3;
    left: 78px;
    border: 1px solid white;
    position: relative;
    text-decoration: none;
    background-color: transparent;
    top: 50%;
    box-shadow: 0 1px 10px black;
    
}
.letra:hover{
	background: rgba(217,35,9, .4);
}
.Contenido{
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-bottom: 43.75%;
	background: url(../images/banner.jpg);
	background-size:cover;
}
.logo{
	color: white;
	width: 90%;
	padding-left: 10px;
}
.nombre{
	color:#E4EA43;
	font-family:Arial;
	font-size: 10em;
}
.nombre:hover{
	background: rgba(0,0,0, .10);
}
.ayuda{
	position: absolute;
	right: 0px;
	font-size: 1rem;
}

//RESPONSIVE CON MEDIA QUERIES
@media screen and (min-width: 1200px){
	body {
		background: url(../images/banner.jpg);
    	background-size: cover;
	} 
	.nombre{
		color:#E4EA43;
		font-size: 6em;
	}
	
}
@media (min-width: 768px){
	body {
    	background: url(../images/banner.jpg);
    	background-size: cover;
    }
    .nombre{
		color:#E4EA43;
		font-size: 99%;
	}
}
@media (min-width: 200px) and (max-width: 767px){
	body {
		background: url(../images/banner.jpg);
    	background-size: cover;
	}	
	.nombre{
		color: black;
		font-size: 10%;
	}
	.login-form {
		position: static;
		margin: 0 auto;
		margin-top: 115px;
	}
}